.cart {
    width: 100%;
}

.order {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.orderTable {
    max-width: 50%;
    margin: 10px;
}

.summary {
    max-width: 50%;
    margin: 10px;
}

