<div class="container">
 <h1>Welcome to online book shop!</h1>
 <p class="text-justify">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
     labore et dolore magna aliqua. Sed vulputate mi sit amet mauris. Aliquam sem et tortor consequat id porta nibh venenatis. 
     Nibh praesent tristique magna sit amet. Diam maecenas sed enim ut. Velit euismod in pellentesque massa placerat duis. Ac turpis 
     egestas maecenas pharetra convallis posuere morbi. Sem viverra aliquet eget sit amet. Mus mauris vitae ultricies leo integer.
      Nam aliquam sem et tortor consequat. Integer malesuada nunc vel risus commodo viverra. Dui sapien eget mi proin sed libero enim sed.
Ultrices in iaculis nunc sed augue lacus viverra. Lorem dolor sed viverra ipsum nunc aliquet. Eget magna fermentum iaculis eu non diam phasellus. At ultrices mi tempus imperdiet nulla malesuada. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Tortor posuere ac ut consequat semper viverra nam libero. Et netus et malesuada fames ac turpis egestas integer. Sed sed risus pretium quam vulputate dignissim. Id aliquet lectus proin nibh nisl. In ornare quam viverra orci sagittis. Montes nascetur ridiculus mus mauris vitae ultricies leo. Ultrices dui sapien eget mi proin sed libero enim. Nulla facilisi etiam dignissim diam quis enim. Cras ornare arcu dui vivamus arcu felis bibendum. 
Nisl suscipit adipiscing bibendum est. Lectus  mauris ultrices eros in cursus turpis massa tincidunt. An Ante metus dictum at tempor commodo ullamcorper a lacus.
Dui sapien eget mi proin sed libero enim.
 </p>
</div>